.results_search_bar__wrapper {
  display: flex;
  position: sticky;
  z-index: 2;
  top: 16px;
  width: 100%;
  max-width: 564px;
  border-radius: 32px!important;
  transition: box-shadow .15s ease-in-out;
}

.results_search_bar__container {
  display: flex;
  width: 100%;
  padding: 16px;
}
