.results_search_bar__wrapper {
  z-index: 2;
  display: flex;
  width: 100%;
  max-width: 464px;
  border-radius: 32px!important;
  transition: transform .15s ease-in-out, background-color .15s ease-in-out, box-shadow .15s ease-in-out, max-width .15s ease-in-out;
}

.results_search_bar__wrapper--maximized {
  left: 50%;
  padding: 16px;
  max-width: 738px;
  transform: translateY(104px);
  background-color: var(--bg-01);
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.results_search_bar__wrapper--results_page {
  transform: translateY(62px)!important;
}

.results_search_bar__container {
  display: flex;
  width: 100%;
}

.results_search_bar_button__wrapper {
  border-radius: 50%!important;
}

.results_search_bar_button__container {
  background-color: var(--primary-main)!important;
  padding: 0!important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  min-width: 40px;
}

.mobile_hero_search_bar {
  position: absolute;
  background-color: var(--bg-01);
  padding: 16px;
}

.mobile_results_search_bar {
  padding: 16px;
  background-color: var(--bg-01);
  position: sticky;
  top: 62px;
}
