.reviews_list__container {
  display: flex;
  width: fit-content;
  overflow: scroll;
  width: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  padding-right: 8px;
}

.reviews_list__container::-webkit-scrollbar {
  display: none;
}

.carousel__fix {
  margin-left: -16px;
}

@media (min-width: 768px) {
  .reviews_list__container {
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    width: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding-right: 8px;
  }
}
