.reviews_list__container {
  display: flex;
  width: fit-content;
  overflow: scroll;
  max-width: 500px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.reviews_list__container::-webkit-scrollbar {
  display: none;
}
