.home_content__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 64px;
}

@media (min-width: 768px) {
  .home_content__container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: baseline;
    min-height: 80vh;
    position: relative;
  }
}
