.review_card__wrapper {
  padding: 8px;
}

.review_card__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 10px #00000015!important;
}

.review_card__container .MuiCardHeader-root {
  padding-bottom: 0;
}

.reviews_list__container .MuiChip-root {
  margin: 0 4px;
}

.reviews_list__container .MuiChip-root:first-of-type {
  margin: 0 0 0 4px;
}

.review_card__container:last-of-type {
  margin: 8px 16 8px 64px;
}

.review_card__content {
  height: 100%;
}
