.school_card__wrapper {
  padding: 16px;
  cursor: pointer;
}

.school_card__wrapper:first-of-type {
  padding: 8px 0 8px 16px;
}

.school_card__container {
  padding: 16px;
  box-shadow: 0px 0px 10px #00000015;
  border-radius: 16px;
  transition: .2s ease-in-out background-color, .25s ease-in-out border;
  border: 1px solid transparent;
}

.school_card__container:hover {
  background-color: var(--bg-01);
  border: 1px solid var(--bg-02);
}
