.school_card__wrapper {
  cursor: pointer;
}

.school_card__container {
  padding: 16px;
  background-color: var(--bg-00);
  box-shadow: 0px 0px 10px #00000015;
  border-radius: 16px;
  transition: .2s ease-in-out background-color, .25s ease-in-out border, transform, .15s ease-in-out;
  border: 1px solid transparent;
}

.school_card__container:hover {
  transform: scale(0.98);
}
