.alert__container {
  position: fixed;
  cursor: pointer;
  bottom: 32px;
  z-index: 9999;
  width: 100%;
  max-width: 320px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: box-shadow .25s ease-in-out;
  box-shadow: 0px 4px 10px #00000015;
  border-radius: 16px;
  animation: alert__slide_in .5s;
}

.alert__container:hover {
  box-shadow: 0px 4px 10px #00000030;
}

.alert__container .MuiAlert-icon {
  margin: 0;
}

.alert__container .MuiAlert-message {
  margin: 0 8px;
}

@keyframes alert__slide_in {
  from {
    transform: translate(-50%, 200px)
  }

  to {
    transform: translate(-50%, 0px);
  }
}

