.MuiPaper-elevation8 {
  box-shadow: 0px 0px 10px #00000030!important;
}

.menu__item {
  color: var(--bg-07)!important;
  font-size: 14px!important;
  min-width: 248px;
  direction: rtl;
}

.menu__item--active {
  font-weight: 600!important;
  color: var(--primary-main)!important;
}

.menu__avatar {
  height: 24px!important;
  width: 24px!important;
  margin-left: 2px;
}

.menu__icon {
  height: 24px!important;
  width: 24px!important;
}

.menu__button {
  box-shadow: 0px 0px 10px #00000015;
}
