.filters_bar__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  /* TODO change the background-color */
}

.filters_bar__section {

}
