.hero__container {
  min-height: 512px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
  width: 100%;
  padding: 16px;
}

.hero_svg {
  width: 100%;
  padding: 32px;
  top: 0;
  z-index: -1;
  position: absolute;
}

@media (min-width: 768px) {
  .hero_svg {
    position: absolute;
    left: 0;
    top: 20px;
    max-width: 812px;
  }

  .hero__container {
    justify-content: center;
  }
}
