.hero__container {
  min-height: 618px;
}


.hero_svg {
  width: 100%;
  top: 72px;
  z-index: -1;
  width: 360px;
}

@media (min-width: 768px) {
  .hero_svg {
    position: absolute;
    left: 0;
    top: 20px;
    transform: none;
    min-width: 824px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero_svg {
    min-width: 420px;
  }
}
